<!-- Desktop Header -->
<header class="site-header">
<div class="site-header-bg"></div>
<div class="site-header-left">
<a href="index.html" class="site-header-logo"><img src="assets/logo.png" alt="ProxyJam"></a>
<nav class="site-header-menu">
<a href="#" class="site-header-link">Proxies <img src="assets/down-caret.svg" alt=""></a>
<a href="#" class="site-header-link">Solutions <img src="assets/down-caret.svg" alt=""></a>
<a href="#" class="site-header-link">Pricing</a>
<a href="#" class="site-header-link">Resourses <img src="assets/down-caret.svg" alt=""></a>
</nav>
</div>
<div class="site-header-right">
<button type="button" class="site-header-lang">
<span class="site-header-lang-flag"><img src="assets/flag-us.svg" alt="US"></span>
<img class="caret" src="assets/down-caret.svg" alt="">
</button>
<a href="#" class="site-header-login">Login</a>
<a href="#" class="site-header-signup">Sign up</a>
</div>
</header>

<!-- Mobile Header -->
<header class="site-header-mobile">
<div class="site-header-bg"></div>
<div class="site-header-mobile-left">
  <a href="index.html" class="site-header-logo"><img src="assets/logo.png" alt="ProxyJam"></a>
</div>
<div class="site-header-mobile-right">
  <button type="button" class="site-header-lang">
    <span class="site-header-lang-flag"><img src="assets/flag-us.svg" alt="US"></span>
    <img class="caret" src="assets/down-caret.svg" alt="">
  </button>
  <button type="button" class="site-header-mobile-menu">Menu</button>
</div>
</header>
